<div>
  <h1>Multiplicar</h1>
  <div>
    <!-- #multiForm es el id Angular que le vamos a proporcionar -->
    <form #tablaForm="ngForm">
      <label>Introduzca un numero</label>
      <input type="number" name="cajanumero" #cajanumero />
      <button (click)="generarTablaMultiplicar()">Tabla multiplicar</button>
    </form>

    <div *ngIf="numeros.length > 0">
      <table border="1">
        <tr>
          <th>Operacion</th>
          <th>Resultado</th>
        </tr>
        <tr *ngFor="let num of numeros; let i = index">
          <td>{{ numero }} * {{ i + 1 }}</td>
          <td>{{ num }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
