<div class="container">
  <div
    class="container text-center border shadow pt-3 pt-3 rounded"
    *ngIf="equipo"
  >
    <img src="{{ equipo.imagen }}" class="container w-25" />
    <hr />
    <div class="container text-start">
      <h1>{{ equipo.nombre }}</h1>
      <h4>Champions: {{ equipo.champions }}</h4>
      <h4>Finalistas: {{ equipo.finalista }}</h4>
      <hr />
      <p>{{ equipo.descripcion }}</p>
    </div>
    <a class="btn btn-primary mb-2 w-100" href="{{ equipo.paginaWeb }}">
      {{ equipo.nombre }}
    </a>
    <a
      class="btn btn-success mb-2 w-100"
      [routerLink]="['/jugadores', equipo.idEquipo]"
      >Jugadores</a
    >
  </div>
</div>
