<div class="container">
  <h1>Welcome to the departamentos component</h1>
  <a class="btn btn-primary" [routerLink]="['/insertardepartamento']"
    >¿Desea insertar un nuevo departamento?</a
  >
  <hr />
  <table class="table table-borderless table-dark shadow">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Departamento</th>
        <th>Localidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dep of departamentos">
        <td class="bg-light border text-dark">{{ dep.numero }}</td>
        <td class="bg-light border text-dark">{{ dep.nombre }}</td>
        <td class="bg-light border text-dark">{{ dep.localidad }}</td>
        <td class="bg-light border text-dark text-center">
          <a
            class="btn btn-warning m-1"
            [routerLink]="['/editar', dep.numero, dep.nombre, dep.localidad]"
            >Editar</a
          >
          <button
            class="btn btn-danger m-1"
            (click)="eliminarDepartamento(dep.numero)"
          >
            Eliminar
          </button>
          <a class="btn btn-primary" [routerLink]="['/empleados', dep.numero]"
            >Empleados</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
