<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/home']"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/libreria']">Libreria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/comicsinyeccion']"
              >ComicsInyeccion</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/personasapi']">PersonasApi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/empleadosapi']"
              >EmpleadosApi</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/empleadosoficio']"
              >EmpleadosOficio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/listadoempleados']"
              >ListadoEmpleados</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
