<div class="container">
  <h1>Welcome to the empleadosdepartamento component</h1>
  <a [routerLink]="['/departamentos']" class="btn btn-success">
    Volver a departamentos
  </a>
  <hr />
  <ul class="list-group shadow">
    <li class="list-group-item active fw-bold">Empleados</li>
    <li
      class="list-group-item d-flex justify-content-between"
      *ngFor="let emp of empleados"
    >
      <div>
        {{ emp.apellido }},
        <span class="text-danger">{{ emp.salario }}$</span>
      </div>
      <a
        class="btn btn-danger"
        [routerLink]="['/incrementarsalario', emp.idEmpleado]"
      >
        Incrementar salario
      </a>
    </li>
  </ul>
</div>
